/**************************** GLOBAL ****************************/
/* logo yellow: #E6A300;	blue: #28305B;*/
*{
	box-sizing: border-box;
}
body {
	margin: 0px;
	color: #000;
	-webkit-text-size-adjust: none;
	font-family: "HCo Gotham SSm", Helvetica, sans-serif;
	font-size: 1.1em;
	line-height: 1.3em;
}
img {
	width: 100%;
	height: auto;
	vertical-align: middle; /*  very important, otherwise there is a gap at the bottom  */
	border: 0;
}
a:link, a:active, a:visited {
	color: #0077D4;
	outline: none;
	text-decoration: none;
}
a:hover {
	color: #d32027;
	text-decoration: none;
}
header{
	position: relative;
	border-top: 10px solid #28305B;
	border-bottom: 10px solid #28305B;
	padding: 15px 15px 15px 30px;
}
nav {
    display: flex;
    justify-content: space-around;
}
.logo{
	width: 100px;
	vertical-align: middle;
}
.menu-btn, .exit-btn {
	display: none;
}
nav ul {
    display: flex;
    background-color: #ffffff;
    padding-top: 1em;
	padding-bottom: 0;
	list-style: none;
    transform: translateX(0);
    transition: transform .3s;
}
nav ul li a {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #28305B!important;
	font-size: 1.1em;
	font-weight: 600;
	line-height: 1.2em;
	padding: .4em 1.5em;
	cursor: pointer;
}
h2{
	margin-bottom: 0;
}
/*
main{
	background-image: url(../images/Watercolor_Background_tier.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}*/
.banner-container{
	background-image: url(../images/Massachusetts-State-Map-opac-3.png);
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #ffffff;
	padding-top: 3%;
	padding-bottom: 3%;
}
.banner-container .banner-heading{
	font-family: "IntroRustH2-Base", Arial, sans-serif !important;
	font-size: 1.6em;
	line-height: 1.2em;
	letter-spacing: 1px;
	text-align: center;
	color: #28305B;
}
.list-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	width: 90%;
	margin: 0 auto;
	padding: 0 0 40px 0;
	text-align: center;
}
.list-container .card{
	width: 220px;
	margin: 20px 20px 0 0;
	border: 1px solid #c7c2bc;
	box-shadow: 0 0 1.2em 0.2em rgb(0 0 0 /11%);
}
.card .photo{
	height: 165px;
	padding-bottom: 25%;
	overflow: hidden;
	box-sizing: border-box;
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
}
.card .photo.chinese{
	background-image: url(../images/chinatown.png);
}
.card .photo.hotpot{
	background-image: url(../images/hotpot.jpg);
}
.card .photo.lobster{
	background-image: url(../images/lobster-rolls.jpg);
}
.card .photo.asian-supermarket{
	background-image: url(../images/asian-supermarket.jpg);
}
.card .photo.japanese{
	background-image: url(../images/japanese-restaurants.png);
}
.card .photo.korean{
	background-image: url(../images/korean-bbq.jpg);
}
.card .photo.icecream{
	background-image: url(../images/ice-cream.jpg);
}
.card .label{
	padding: 25px 0;
	font-size: 1em;
	line-height: 1.2em;
	font-weight: 600;
	color: #333333;
	background-color: #fff;
}
.map{
	padding: 30px 0;
	text-align: center;
}
/*
.list-container ul li::before{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	transition: .35s all ease-out .05s;
}
.list-container ul li a{
	outline: none;
	text-decoration: none;
	transition: all .2s ease-out;
}
.list-container ul li .label{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 25px 0;
	font-size: 1.1em;
	line-height: 1.2em;
	font-weight: 600;
	color: rgb(67 120 147);
	background-color: #fff;
	transition: all .5s ease;
}
.list-container ul li .label span{
	display: block;
	width: 88%;
	transition: all .35s ease;
	margin: 0 auto;
	padding: 2%;
	border: 1px solid #c7c2bc;
	border-radius: 50px;
}*/
/* a.Btn:link, a.Btn:visited {
	display: inline-block;
	font-size: 1.2em;
	line-height: 1.46667;
	letter-spacing: 1px;
	color: #ffffff !important;
	background-color: #0071ce;
	border-bottom: 5px solid #00559b;
	padding: 10px 20px;
	border-radius: 5px;
	font-weight: 700 !important;
	margin: 0px;
	text-align: left;
	transition: all .1s ease-in;
  }
  a.Btn:hover, a.Btn:focus, a.Btn:active {
	text-decoration: none;
	color: #ffffff !important;
	background-color: #4095da;
	border-color: #0071ce !important;
  } */
footer{
	width: 90%;
	margin: 0 auto;
	padding: 30px 0;
	font-size: 12px;
	line-height: 1.1em;
	font-weight: 300;
	text-align: center;
}